<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.haetae.plugin.objectContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="haetae.popupmenu"
               label="Haetae"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.epsilon.haetae.plugin.AST2EOLAction"
               id="org.eclipse.epsilon.haetae.plugin.action1"
               label="Transform to EOL Model"
               menubarPath="haetae.popupmenu/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
