<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.haetae.plugin.objectContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="haetae.popupmenu"
               label="Epsilon Haetae"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2EOLAction"
               id="org.eclipse.epsilon.haetae.plugin.ast2eol"
               label="Transform to EOL Model"
               menubarPath="haetae.popupmenu/group1">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2EVLAction"
               id="org.eclipse.epsilon.haetae.dt.ast2evl"
               label="Transform to EVL Model"
               menubarPath="haetae.popupmenu/group1">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2ETLAction"
               id="org.eclipse.epsilon.haetae.dt.ast2etl"
               label="Transform to ETL Model"
               menubarPath="haetae.popupmenu/group1">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2VREOLAction"
               id="org.eclipse.epsilon.haetae.dt.ast2vreol"
               label="Transform to variable resolved EOL Model"
               menubarPath="haetae.popupmenu/group1">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2TREOLAction"
               id="org.eclipse.epsilon.haetae.dt.ast2treol"
               label="Transform to type resolved EOL Model"
               menubarPath="haetae.popupmenu/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
