<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.haetae.plugin.objectContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="haetae.popupmenu"
               label="Epsilon Haetae"
               path="additions">
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
            <separator
                  name="group3">
            </separator>
         </menu>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2TREOLAction"
               enablesFor="1"
               id="org.eclipse.epsilon.haetae.dt.ast2treol"
               label="Transform to type resolved EOL Model"
               menubarPath="haetae.popupmenu/group1">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2VREOLAction"
               enablesFor="1"
               id="org.eclipse.epsilon.haetae.dt.ast2vreol"
               label="Transform to variable resolved EOL Model"
               menubarPath="haetae.popupmenu/group1">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2EOLAction"
               enablesFor="1"
               id="org.eclipse.epsilon.haetae.plugin.ast2eol"
               label="Transform to EOL Model"
               menubarPath="haetae.popupmenu/group1">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2TREVLAction"
               enablesFor="1"
               id="org.eclipse.epsilon.haetae.dt.ast2trevl"
               label="Transform to type resolved EVL Model"
               menubarPath="haetae.popupmenu/group2">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2VREVLAction"
               enablesFor="1"
               id="org.eclipse.epsilon.haetae.dt.ast2vrevl"
               label="Transform to variable resolved EVL Model"
               menubarPath="haetae.popupmenu/group2">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2EVLAction"
               enablesFor="1"
               id="org.eclipse.epsilon.haetae.dt.ast2evl"
               label="Transform to EVL Model"
               menubarPath="haetae.popupmenu/group2">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2VRETLAction"
               enablesFor="1"
               id="org.eclipse.epsilon.haetae.dt.ast2vretl"
               label="Transform to variable resolved ETL Model"
               menubarPath="haetae.popupmenu/group3">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2TRETLAction"
               enablesFor="1"
               id="org.eclipse.epsilon.haetae.dt.ast2tretl"
               label="Transform to type resolved ETL Model"
               menubarPath="haetae.popupmenu/group3">
         </action>
         <action
               class="org.eclipse.epsilon.haetae.ast2exl.AST2ETLAction"
               enablesFor="1"
               id="org.eclipse.epsilon.haetae.dt.ast2etl"
               label="Transform to ETL Model"
               menubarPath="haetae.popupmenu/group3">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.epsilon.haetae.preference.EpsilonHaetaePreferencePage"
            id="org.eclipse.epsilon.haetae.dt.preference"
            name="Epsilon Haetae">
         <keywordReference
               id="org.eclipse.epsilon.haetae.dt.keywordReference1">
         </keywordReference>
      </page>
   </extension>

</plugin>
